In [1]:
import psycopg2
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv()

True

In [2]:
db_params = {
    'dbname': os.getenv("db_name"),
    'user': os.getenv("db_user"),
    'password': os.getenv("db_password"),
    'host': os.getenv("db_host")
}

conn = psycopg2.connect(**db_params)

In [7]:
query = """
SELECT CI.City, AVG(SP.Close) as Average_Close_Price
FROM StockPrice SP
JOIN CompanyInformation CI ON SP.Ticker = CI.Ticker
GROUP BY CI.City;
"""

In [8]:
df = pd.read_sql(query, conn)
df

/var/folders/gq/y5b3q9f527v5_z9y7t6wchb00000gn/T/ipykernel_9640/1061802609.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

        city  average_close_price
0  Cupertino           136.037727
1      Basel            72.407718
2   New York            35.169102